.cards {
	&-wrapper {
		position: relative;
		width: 200px;
		height: 270px;
		margin: 50px auto 150px auto;
	}

	&-list {

	}
}

.card {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	width: 200px;
	height: 270px;
	text-align: center;
	font-size: 30px;
	transform: rotateY(0deg);
	transform-style: preserve-3d;
	transition: transform .8s;

	&-wrap {
		position: relative;
		perspective: 400px;
		perspective-origin: 50% 50%;

		&--intro {
			z-index: 10;

			.card {
				transition: transform 1.1s;
					&.open {
						transform: rotateY(180deg);
					}
			}

			.card__front {
				padding-top: 100px;
				background-color: #7d356b;
				color: $white;
			}
		}

		&--ruler {
			right: -10px;
			top: 5px;

			.card.open {
				transform: translate(20px, 5px) rotate(7.2deg);
			}
			.card__front {
				background-color: #e4d3c5;
			}
		}

		&--hero {
			right: -15px;
			top: -3px;

			.card.open {
				transform: translate(35px, -35px);
			}

			.card__front {
				background-color: #f0e093;
			}
		}

		&--searcher {
			top: -5px;
			right: 20px;
			transform: rotate(-4deg);

			.card.open {
				transform: rotate(-7.5deg) translate(-35px, -40px);
			}

			.card__front {
				background-color: #81a375;
			}
		}

		&--rebel {
			top: 7px;
			right: 10px;
			transform: rotate(3.5deg);

			.card.open {
				transform: translate(-20px, 10px) rotate(3.5deg);
			}

			.card__front {
				background-color: #81a3e0;
			}
		}
	}

	&__front {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 25px 15px;
		border-radius: 25px;
		transform: translateZ(1px);
	}

	&__back {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 25px 15px;
		border-radius: 25px;
		background-color: $white;
		transform: translateZ(0) rotateY(180deg);
	}

	&__title {
		margin-bottom: 30px;
		font-size: 33px;
		font-weight: 100;
	}

	&__link {
		margin-bottom: 10px;
		padding: 0 15px;
		font-size: 22px;
		cursor: pointer;

		&:hover {
			background-image: url("data:image/svg+xml,%3Csvg width='130' height='22' viewBox='0 0 130 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.8317 21.0066C38.2511 19.3305 66.8008 20.0759 95.2668 19.7391C103.329 19.7408 111.392 19.7589 119.455 19.7932C123.131 19.7665 127.064 17.3805 128.206 13.8388C131.129 7.8871 125.874 0.505403 119.267 0.724837C82.7418 0.918894 46.1188 0.0479493 9.64783 1.93212C7.09124 1.95742 4.64931 2.98619 2.85922 4.79208C1.06914 6.59798 0.0775438 9.03308 0.102573 11.5617C0.0843881 16.5922 4.65716 21.3047 9.8317 21.0066Z' fill='%23E4D3C5'/%3E%3C/svg%3E%0A");
			background-size: 100% 100%;
			background-repeat: no-repeat;
		}
	}
}