.cards {
	&-wrapper {
		position: relative;
		width: 200px;
		height: 270px;
		margin: 20px auto 150px auto;

		@include media-breakpoint-up(md) {
			margin: 70px auto 200px auto;
		}
		@include media-breakpoint-up(xl) {
			margin: 50px auto 150px auto;
		}
	}
}

.card {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	width: 200px;
	height: 270px;
	text-align: center;
	font-size: 30px;
	transform: rotateY(0deg);
	transform-style: preserve-3d;
	transition: transform .8s;

	&-wrap {
		position: relative;
		perspective: 1000px;
		perspective-origin: 50% 50%;

		&--intro {
			z-index: 10;

			.card {
				width: 185px;
				transition: transform 1.1s;

				@include media-breakpoint-down(md) {
					right: auto;
					left: 50%;
					margin-left: -92px;
				}
					&.open {
						transform: rotateY(180deg);
					}
			}

			.card__title {
				margin-bottom: 30px;
			}

			.card__front {
				padding-top: 100px;
				background-color: #7d356b;
				color: $white;
			}
			.card__back {
				background-color: $white;
			}
		}

		&--ruler,
		&--droll,
		&--curator {
			right: -10px;
			top: 5px;

			.card.trnsl {
				@include media-breakpoint-up(md) {
					transform: translate(20px, 5px) rotate(7.2deg);
				}
			}
			.card__front {
				background-color: #e4d3c5;
			}
		}

		&--droll {
			.card__front {
				background-color: #ffcf59;
			}
		}

		&--curator {
			.card__front {
				background-color: #e4d3c5;
			}
		}

		&--hero,
		&--lover,
		&--wizard {
			right: -15px;
			top: -3px;

			.card.trnsl {
				@include media-breakpoint-up(md) {
					transform: translate(35px, -35px);
				}
			}

			.card__front {
				background-color: #f0e093;
			}
		}

		&--lover {
			.card__front {
				background-color: #f5a2a2;
			}
		}

		&--wizard {
			.card__front {
				background-color: #c3d8f6;
			}
		}

		&--searcher,
		&--creator,
		&--sage {
			top: -5px;
			right: 20px;
			transform: rotate(-4deg);

			.card.trnsl {
				@include media-breakpoint-up(md) {
					transform: rotate(-6deg) translate(-30px, -30px);
				}
			}

			.card__front {
				background-color: #81a375;
			}
		}

		&--creator {
			.card__front {
				background-color: #c3d8f6;
			}
		}

		&--sage {
			.card__front {
				background-color: #bf96b5;
			}
		}

		&--rebel,
		&--nice,
		&--simple {
			top: 7px;
			right: 10px;
			transform: rotate(3.5deg);

			.card.trnsl {
				@include media-breakpoint-up(md) {
					transform: translate(-15px, 5px) rotate(3.5deg);
				}
			}

			.card__front {
				background-color: #81a3e0;
			}
		}

		&--nice {
			.card__front {
				background-color: #d3e4cb;
			}
		}

		&--simple {
			.card__front {
				background-color: #d3e4cb;
			}
		}
	}

	&__front {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 20px 0;
		border-radius: 25px;
		transform: translateZ(0);
	}

	&__back {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		padding: 20px 15px;
		border-radius: 25px;
		background-color: #e5e5e5;
		transform: translateZ(-1px) rotateY(180deg);
	}

	&__title {
		margin-bottom: 0;
		padding: 0 15px;
		font-size: 33px;
		font-weight: 100;
		line-height: 1;

		&-back {
			font-size: 22px;
			font-weight: 100;
			line-height: 1;
		}
	}

	&__descr {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-grow: 1;
		margin-bottom: 0;
		font-size: 14px;
		font-family: $helveticafont;
	}

	&__avatar {
		display: block;
		margin: 0 auto;
	}

	&__link {
		margin-bottom: 10px;
		padding: 0 15px;
		font-size: 22px;
		cursor: pointer;

		&:hover,
		&.active {
			background-image: url("data:image/svg+xml,%3Csvg width='130' height='22' viewBox='0 0 130 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.8317 21.0066C38.2511 19.3305 66.8008 20.0759 95.2668 19.7391C103.329 19.7408 111.392 19.7589 119.455 19.7932C123.131 19.7665 127.064 17.3805 128.206 13.8388C131.129 7.8871 125.874 0.505403 119.267 0.724837C82.7418 0.918894 46.1188 0.0479493 9.64783 1.93212C7.09124 1.95742 4.64931 2.98619 2.85922 4.79208C1.06914 6.59798 0.0775438 9.03308 0.102573 11.5617C0.0843881 16.5922 4.65716 21.3047 9.8317 21.0066Z' fill='%23E4D3C5'/%3E%3C/svg%3E%0A");
			background-size: 100% 100%;
			background-repeat: no-repeat;
		}
	}
}

.cards-list {
	@include media-breakpoint-down(md) {
		&[data-active="link-doer"] {
			.cards-list__item[data-type="doer"] {
				display: flex;
				position: absolute;
				left: calc(-50vw + 100px);
				right: calc(-50vw + 100px);
				top: -5px;
				height: 300px;
				padding: 10px 0 0 70vw;
				pointer-events: auto;
				overflow: auto;

				.card-wrap {
					z-index: 15;
					.card {
						position: relative;
						&:hover {
							transform: rotateY(180deg);
						}
					}
					&:last-child {
						margin-right: 70vw;
					}
				}
			}
		}
		&[data-active="link-joyer"] {
			.cards-list__item[data-type="joyer"] {
				display: flex;
				position: absolute;
				left: calc(-50vw + 100px);
				right: calc(-50vw + 100px);
				top: -5px;
				height: 300px;
				padding: 10px 0 0 70vw;
				pointer-events: auto;
				overflow: auto;

				.card-wrap {
					z-index: 15;
					.card {
						position: relative;
						&:hover {
							transform: rotateY(180deg);
						}
					}
					&:last-child {
						margin-right: 70vw;
					}
				}
			}
		}
		&[data-active="link-camer"] {
			.cards-list__item[data-type="camer"] {
				display: flex;
				position: absolute;
				left: calc(-50vw + 100px);
				right: calc(-50vw + 100px);
				top: -5px;
				height: 300px;
				padding: 10px 0 0 70vw;
				pointer-events: auto;
				overflow: auto;

				.card-wrap {
					z-index: 15;
					.card {
						position: relative;
						&:hover {
							transform: rotateY(180deg);
						}
					}
					&:last-child {
						margin-right: 70vw;
					}
				}
			}
		}
	}
	@include media-breakpoint-up(md) {
		&[data-active="link-doer"] {
			.card-wrap--ruler .card {
				transform: translate(220px, -150px) rotate(-5deg);
	
				&:hover {
					transform: translate(220px, -150px) rotateY(180deg);
				}
			}
	
			.card-wrap--hero .card {
				transform: translate(230px, 145px) rotate(14deg);
	
				&:hover {
					transform: translate(230px, 145px) rotateY(180deg);
				}
			}
	
			.card-wrap--searcher .card {
				transform: translate(-200px, -140px) rotate(8deg);
	
				&:hover {
					transform: translate(-200px, -140px) rotateY(180deg);
				}
			}
	
			.card-wrap--rebel .card {
				transform: translate(-200px, 160px) rotate(-11deg);
	
				&:hover {
					transform: translate(-200px, 160px) rotateY(180deg);
				}
			}
		}
		&[data-active="link-joyer"] {
			.card-wrap--droll .card {
				transform: translate(240px, -150px) rotate(-5deg);
	
				&:hover {
					transform: translate(240px, -150px) rotateY(180deg);
				}
			}
	
			.card-wrap--lover .card {
				transform: translate(230px, 145px) rotate(14deg);
	
				&:hover {
					transform: translate(230px, 145px) rotateY(180deg);
				}
			}
	
			.card-wrap--creator .card {
				transform: translate(-240px, -140px) rotate(8deg);
	
				&:hover {
					transform: translate(-240px, -140px) rotateY(180deg);
				}
			}
	
			.card-wrap--nice .card {
				transform: translate(-220px, 160px) rotate(-11deg);
	
				&:hover {
					transform: translate(-220px, 160px) rotateY(180deg);
				}
			}
		}
		&[data-active="link-camer"] {
			.card-wrap--curator .card {
				transform: translate(240px, -150px) rotate(-5deg);
	
				&:hover {
					transform: translate(240px, -150px) rotateY(180deg);
				}
			}
	
			.card-wrap--wizard .card {
				transform: translate(230px, 145px) rotate(14deg);
	
				&:hover {
					transform: translate(230px, 145px) rotateY(180deg);
				}
			}
	
			.card-wrap--sage .card {
				transform: translate(-240px, -140px) rotate(8deg);
	
				&:hover {
					transform: translate(-240px, -140px) rotateY(180deg);
				}
			}
	
			.card-wrap--simple .card {
				transform: translate(-220px, 160px) rotate(-11deg);
	
				&:hover {
					transform: translate(-220px, 160px) rotateY(180deg);
				}
			}
		}
	}

	@include media-breakpoint-up(xl) {
		&[data-active="link-camer"] {
			.card-wrap--curator .card {
				transform: translate(230px, -95px) rotate(-5deg);
	
				&:hover {
					transform: translate(230px, -95px) rotateY(180deg);
				}
			}
			.card-wrap--wizard .card {
				transform: translate(430px, 35px) rotate(14deg);
	
				&:hover {
					transform: translate(430px, 35px) rotateY(180deg);
				}
			}
			.card-wrap--sage .card {
				transform: translate(-220px, -80px) rotate(12deg);
	
				&:hover {
					transform: translate(-220px, -80px) rotateY(180deg);
				}
			}
			.card-wrap--simple .card {
				transform: translate(-415px, -30px) rotate(-9deg);
	
				&:hover {
					transform: translate(-415px, -30px) rotateY(180deg);
				}
			}
		}
	
		&[data-active="link-joyer"] {
			.card-wrap--droll .card {
				transform: translate(230px, -95px) rotate(-5deg);
	
				&:hover {
					transform: translate(230px, -95px) rotateY(180deg);
				}
			}
			.card-wrap--lover .card {
				transform: translate(430px, 35px) rotate(14deg);
	
				&:hover {
					transform: translate(430px, 35px) rotateY(180deg);
				}
			}
			.card-wrap--creator .card {
				transform: translate(-220px, -80px) rotate(12deg);
	
				&:hover {
					transform: translate(-220px, -80px) rotateY(180deg);
				}
			}
			.card-wrap--nice .card {
				transform: translate(-415px, -30px) rotate(-9deg);
	
				&:hover {
					transform: translate(-415px, -30px) rotateY(180deg);
				}
			}
		}
	
		&[data-active="link-doer"] {
			.card-wrap--ruler .card {
				transform: translate(220px, -95px) rotate(-5deg);
	
				&:hover {
					transform: translate(220px, -95px) rotateY(180deg);
				}
			}
	
			.card-wrap--hero .card {
				transform: translate(430px, 35px) rotate(14deg);
	
				&:hover {
					transform: translate(430px, 35px) rotateY(180deg);
				}
			}
	
			.card-wrap--searcher .card {
				transform: translate(-210px, -90px) rotate(14deg);
	
				&:hover {
					transform: translate(-210px, -90px) rotateY(180deg);
				}
			}
	
			.card-wrap--rebel .card {
				transform: translate(-410px, -30px) rotate(-11deg);
	
				&:hover {
					transform: translate(-410px, -30px) rotateY(180deg);
				}
			}
		}
	}
}

@include media-breakpoint-down(md) {


}
