.feedback {
	margin-bottom: 60px;

	&__title {
		margin-bottom: 35px;
		font-size: 36px;
		text-align: center;
	}

	&-form {
		&-control {
			position: relative;
			margin-bottom: 25px;
		}
		&__input {
			width: 458px;
			height: 69px;
			border: none;
			padding: 0 70px 0 30px;
			background: url("data:image/svg+xml,%3Csvg width='458' height='69' viewBox='0 0 458 69' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M35.0348 68.968C135.618 64.1165 236.577 67.6923 337.278 67.501C365.797 67.7844 394.316 68.1247 422.835 68.5216C435.837 68.5556 449.832 60.3919 453.998 48.1123C464.543 27.5116 446.216 1.65547 422.835 2.19121C293.634 1.6087 164.122 -2.68152 35.0523 2.61641C26.0083 2.61641 17.3347 6.1106 10.9397 12.3303C4.54461 18.55 0.951893 26.9856 0.951893 35.7816C0.711441 53.2784 16.7212 69.8269 35.0348 68.968Z' fill='white'/%3E%3C/svg%3E%0A");
			background-size: contain;
			background-repeat: no-repeat;
			font-family: $ttbackward;
			font-size: 22px;

			&::placeholder {
				color: #9f9f9f;
			}
		}

		&__submit {
			position: absolute;
			top: 50%;
			right: 15px;
			width: 45px;
			height: 45px;
			margin: -22px 0 0 0;
			background: url("data:image/svg+xml,%3Csvg width='45' height='45' viewBox='0 0 45 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_3_1587)'%3E%3Cpath d='M0.684933 22.2844C0.684933 34.4632 10.571 44.3359 22.7661 44.3359C34.9611 44.3359 44.8472 34.4632 44.8472 22.2844C44.8472 10.1057 34.9611 0.232716 22.7661 0.232716C10.571 0.232716 0.684933 10.1057 0.684933 22.2844Z' fill='%235B3B53'/%3E%3Cpath d='M32.503 23.563L18.3078 31.5355H18.0933V27.2103L30.8272 22.28L18.0933 16.9308V12.6406H18.3078L32.503 20.6879V23.563Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3_1587'%3E%3Crect width='44.1622' height='44.1031' fill='white' transform='translate(0.685059 0.228516)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
			background-size: contain;
			background-repeat: no-repeat;
			border: none;
			transition: transform .5s;

			&:hover {
				transform: scale(1.1);
			}
		}

		&__descr {
			font-family: $helveticafont;
			font-size: 16px;
			text-align: center;
		}
	}

	@include media-breakpoint-up(md) {
		&__title {
			font-size: 48px;
		}

		&-form {
			&__input {
				width: 630px;
				height: 97px;
				padding-right: 80px;
				font-size: 36px;
			}

			&__submit {
				width: 60px;
				height: 60px;
				margin-top: -30px;
			}
		}
	}
}

.feedback-form-success {
	width: 100%;
	max-width: 630px;
	margin: 0 auto;
	text-align: center;

	&__title {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 97px;
		margin: 0 0 40px 0;
		background: url("data:image/svg+xml,%3Csvg width='630' height='97' viewBox='0 0 630 97' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M47.0815 96.955C186.014 90.1348 325.466 95.1616 464.562 94.8927C503.954 95.2911 543.347 95.7696 582.739 96.3275C600.698 96.3753 620.028 84.8987 625.783 67.6361C640.348 38.6757 615.034 2.32725 582.739 3.0804C404.277 2.2615 225.386 -3.76967 47.1056 3.67814C34.6134 3.67814 22.6329 8.59027 13.7995 17.3339C4.96621 26.0775 0.00369369 37.9363 0.00369369 50.3017C-0.328435 74.8986 21.7853 98.1624 47.0815 96.955Z' fill='white'/%3E%3C/svg%3E%0A");
		background-size: 100% 100%;
		background-repeat: no-repeat;
		font-family: $ttbackward;
		font-size: 36px;
		line-height: 1;
	}

	&__descr {
		font-size: 32px;
	}
}