.game-intro {
	margin-bottom: 80px;
	padding: 0 40px;

	&__title {
		font-size: 36px;
	}
}

.games-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 100px;
	
	.slide-game {
		margin-bottom: 50px;
	}
}