.game-preview {
	max-width: 1024px;
	position: relative;
	margin: 0 auto 100px auto;
	padding: 80px 50px 40px 50px;
	background-color: $white;
	border-radius: 30px;

	&__pic {
		position: absolute;
		z-index: 1;
		top: -80px;
		right: 0;
	}

	&__title {
		margin-bottom: 20px;
		font-size: 50px;
		font-weight: 100;
		line-height: 1;
	}

	&__descr {
		margin-bottom: 50px;
		font-family: $helveticafont;
		font-size: 24px;
		font-weight: 500;
	}

	&__footer-txt {
		font-family: $ttbackward;
		font-size: 36px;
		text-align: center;
	}

	&__btn-down {
		margin: 0 auto;
		background: none;
		border: none;
		transition: transform .5s;

		&:hover {
			transform: scale(1.1);
		}
	}

	@include media-breakpoint-up(md) {
		&__title {
			font-size: 70px;
		}
	}

	@include media-breakpoint-up(xl) {
		padding-left: 120px;
		padding-right: 120px;
	}
}