.game-intro {
	margin-bottom: 80px;
	padding: 0 40px;

	&__title {
		font-size: 36px;
	}
}

.games-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 100px;
	
	.slide-game {
		margin-bottom: 50px;
	}
}

@include media-breakpoint-down(sm) {
	.game-intro {
		margin-bottom: 40px;
		padding: 0;

		&__title {
			font-size: 28px;

			img {
				width: 50px;
			}
		}
	}
	.games-list {
		margin-bottom: 50px;
	}
}