.header {
	max-width: $container-max-width - $gutter;
	margin: 0 auto;
	padding: 50px 40px 100px 55px;

	&-row {
		display: flex;
		justify-content: space-between;
	}

	&-col {
		position: relative;
	}

	&-nav {
		display: none;

		&__link {
			font-size: 26px;
			color: $black;
			text-decoration: none;

			&:hover {
				color: $black;
			}
		}
	}

	&-logo__link {
		position: relative;
		display: inline-block;

		&-img-1 {
			position: absolute;
			top: 0;
			right: 0;
			transition: transform 1.5s ease-in-out;
		}

		&-img-2 {
			position: absolute;
			bottom: 10px;
			right: 0;
			transition: transform 2s ease-in-out;
		}

		&:hover {
			.header-logo__link-img-1 {
				transform: rotate(360deg);
			}
			.header-logo__link-img-2 {
				transform: rotate(-360deg);
			}
		}
	}

	&-btn__menu {
		background: none;
		border: none;

		span {
			display: block;
			width: 27px;
			height: 6px;
			background-color: #231f20;

			& + span {
				width: 38px;
				margin-top: 10px;
			}
		}
	}

	@include  media-breakpoint-down(md) {
		&-nav {
			position: absolute;
			z-index: 1;
			top: -30px;
			right: -10px;
			padding: 30px;
			background-image: url("data:image/svg+xml,%3Csvg width='225' height='244' viewBox='0 0 225 244' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.33553 85.0188C5.39891 108.498 1.32027 131.803 0.205248 155.362C-5.12046 268.613 96.1559 241.05 161.385 241.05C228.213 241.05 225.763 175.843 224.662 122.168C224.164 97.8273 221.303 63.7567 218.926 39.5433C216.622 16.2391 198.988 5.66324 185.035 3.97245C159.584 0.79051 133.96 -0.467093 108.348 0.208272C48.1219 4.97757 13.5709 9.10872 7.33553 85.0188Z' fill='white'/%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			background-size: contain;
			white-space: nowrap;

				&.show {
					display: flex;
					flex-direction: column;
				}

				&__link {
					&--avatar {
						order: -1;
						margin-bottom: 15px;
					}
				}
		}

		&-btn__menu {
			position: relative;
			z-index: 2;

			&.show {
				span {
					width: 27px;
					height: 1px;
					transform: rotate(45deg) translate(0, 10px);

					& + span {
						transform: rotate(-45deg) translate(-2px, -7px);
					}
				}
			}
		}
	}

	@include media-breakpoint-up(md) {
		&-nav {
			display: flex;

			&__link {
				position: relative;
				margin-left: 45px;
				font-size: 32px;

				span {
					position: relative;
					z-index: 2;
				}

				&:hover:after {
					display: block;
				}

				&:after {
					display: none;
					content: '';
					position: absolute;
					z-index: 1;
				}

				&--game {

					&:after {
						top: -5px;
						left: -35px;
						width: 140px;
						height: 60px;
						background-image: url("data:image/svg+xml,%3Csvg width='143' height='59' viewBox='0 0 143 59' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M130.004 18.8695C131.483 14.9201 131.184 10.0556 129.03 6.7696C127.414 4.19818 125.009 2.19788 122.164 1.05663C119.318 -0.0846316 116.178 -0.307992 113.195 0.418699C99.6313 3.69856 86.6296 9.09129 73.5779 13.9312L71.3495 14.7481C71.4174 12.3866 70.7652 10.0591 69.4769 8.06557C65.7755 2.41488 60.1142 0.842502 53.6165 1.71467C39.0388 3.66843 24.5985 6.51154 10.3792 10.2276C3.27596 12.0702 -1.74877 20.1654 0.573191 27.2227C2.93261 34.4027 10.2356 38.8926 17.8444 36.878C20.1456 36.2761 22.455 35.7007 24.7728 35.1521C24.7695 35.162 24.7695 35.1728 24.7728 35.1828C22.4259 40.4342 22.0951 45.7225 25.8714 50.5379C29.0547 54.5917 35.409 57.4109 40.6334 55.4884L57.8796 49.1314C57.9608 49.3341 58.0357 49.5368 58.123 49.7456C59.3328 52.548 61.3703 54.9282 63.9713 56.5776C66.5723 58.2269 69.6169 59.0693 72.7102 58.9955C76.2431 58.928 79.0082 57.6688 82.2228 56.4957C87.4368 54.5917 92.732 52.9374 98.1083 51.5329C103.485 50.1284 108.915 48.9799 114.4 48.0872C115.473 47.9091 116.547 47.7371 117.62 47.5897C118.338 47.4976 119.056 47.4116 119.78 47.3379C122.826 47.0001 125.884 46.7237 128.943 46.564C136.258 46.1218 143.343 40.5264 142.987 32.7444C142.625 25.939 137.288 19.1274 130.004 18.8695Z' fill='white'/%3E%3C/svg%3E%0A");
						background-repeat: no-repeat;
						background-size: contain;
					}
				}
				&--gift {

					&:after {
						top: -5px;
						left: -25px;
						width: 200px;
						height: 54px;
						background-image: url("data:image/svg+xml,%3Csvg width='203' height='54' viewBox='0 0 203 54' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M202.992 32.7491C202.724 26.4907 197.874 20.1129 191.382 20.5468L176.934 21.5284C176.209 20.1101 175.218 18.8617 174.019 17.8594C172.821 16.857 171.44 16.1218 169.963 15.6983C157.22 12.1154 143.984 10.8697 130.839 12.0159C130.161 9.46501 128.715 7.21345 126.718 5.59835C124.721 3.98325 122.28 3.09152 119.76 3.05667C100.798 2.65264 81.8369 3.86237 63.061 6.674C58.8917 7.28141 54.7429 7.99185 50.6097 8.7728C48.6489 2.90482 42.4929 -1.59651 36.4246 0.540265C24.2313 4.83008 13.4158 11.1862 3.29689 19.4567C-0.315174 22.4015 -0.702193 28.8118 0.897434 32.7871C2.60542 37.0389 6.91407 40.5478 11.5065 40.2875C16.711 39.965 21.8956 39.3531 27.0385 38.4544C26.9044 39.2196 26.8542 39.9984 26.8888 40.7756C27.1055 45.9331 30.2996 51.3998 35.4081 52.5441C45.6148 54.8273 55.9865 53.8891 66.3067 53.2979C76.2915 52.7231 86.2711 52.0289 96.2352 51.3564L157.124 47.2618L163.688 46.8171C172.919 46.6707 182.156 46.0687 191.392 44.9515C194.571 44.5719 197.254 43.8668 199.602 41.3776C201.604 39.2625 203.121 35.797 202.992 32.7491Z' fill='white'/%3E%3C/svg%3E%0A");
						background-repeat: no-repeat;
						background-size: contain;
					}
				}
			}
		}

		&-btn__menu {
			display: none;
		}
	}
}
