.intro {
	position: relative;
	padding: 0 40px;
	margin-bottom: 100px;

	&__pic {
		position: absolute;
		top: -35px;
		right: 20px;
		width: 200px;
		border-radius: 20px;
		transition: transform 1s;
		transform: rotate(5.6deg);

		&:hover {
			transform: rotate(0) scale(1.1);
		}
	}

	&__title {
		margin-bottom: 40px;
		padding-right: 180px;
		font-size: 36px;

		span {
			white-space: nowrap;
		}
	}

	&__descr {
		max-width: 422px;
		font-family: $helveticafont;
		font-size: 24px;
	}

	@include media-breakpoint-down(md) {
		margin-bottom: 50px;
		padding: 0;

		&__title {
			padding: 0;
			font-size: 28px;
		}
		&__descr {
			font-size: 18px;
		}
		&__pic {
			position: static;
			display: block;
			margin: 0 auto 20px auto;
		}
	}

	@include media-breakpoint-up(md) {
		&__pic {
			right: 40px;
			width: 250px;
		}

		&__title {
			margin-bottom: 60px;
			padding-right: 240px;
			font-size: 46px;

			span {
				img {
					width: 97px;
				}
			}
		}

		&__descr {
			max-width: 455px;
			font-size: 26px;
		}
	}

	@include media-breakpoint-up(xl) {
		margin-bottom: 200px;

		&__descr {
			max-width: 600px;
		}
	}
}
