.swiper-game-wrapper {
	margin-bottom: 100px;
}

.swiper-game {
	margin: -110px 0 0 0;
	padding: 100px 15px 0 15px;
}

.swiper-title {
	max-width: $container-max-width - $grid-gutter-width;
	margin: 0 auto 30px auto !important;
	padding-left: 40px;
}

.slide-game {
	position: relative;
	width: 95%;
	padding: 55px 40px;
	border-radius: 30px;
	transition: transform .6s;

	&--yellow {
		background: #ffe093;
		
		@include media-breakpoint-up(md) {
			background: url("data:image/svg+xml,%3Csvg width='1010' height='1005' viewBox='0 0 1010 1005' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1008.61 284.962C1011.39 221.674 1006.69 135.391 1009.8 72.1194C1010.06 55.1483 1003.73 38.4206 993.103 26.3946C981.835 14.7519 967.957 7.32822 952.24 7.25841C895.074 7.01217 837.905 6.66974 780.73 6.23119C541.206 4.4589 301.696 1.55425 62.1595 0.48528C46.1329 -0.0786828 29.0953 5.86489 17.802 19.1356C7.6874 30.2679 0.0121755 48.5746 0.5654 64.657C1.97857 176.498 2.90899 288.34 3.35649 400.185C4.05819 574.243 3.59363 748.303 1.96287 922.366C1.81955 938.156 8.12007 957.177 18.6717 968.091C30.1538 979.967 57.2726 986.602 73.1424 987.305C366.568 1000.19 646.642 1005.91 940.306 1004.57C971.56 1005.2 997.365 1000.15 998.617 940.376C1003.67 699.294 1000.27 515.299 1008.61 284.962Z' fill='%23FFE093'/%3E%3C/svg%3E%0A");
			background-size: 100% 100%;
		}
	}

	&--green {
		background: #d3e4cb;

		@include media-breakpoint-up(md) {
			background: url("data:image/svg+xml,%3Csvg width='1010' height='1000' viewBox='0 0 1010 1000' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M281.83 0.654017C217.894 -1.73741 130.778 3.40419 66.8561 0.689219C49.7141 0.53448 32.8562 6.89982 20.7723 17.4854C9.07909 28.7392 1.66242 42.518 1.68373 58.0553C1.76898 114.652 1.75728 171.254 1.64835 227.861C1.25763 465.027 -0.276672 702.18 0.0430087 939.346C-0.43296 955.214 5.6693 972.053 19.1385 983.159C30.441 993.104 48.9753 1000.6 65.215 999.962C178.164 997.922 291.118 996.361 404.076 995.278C579.863 993.585 755.663 993.048 931.478 993.667C947.419 993.716 966.6 987.372 977.562 976.864C989.49 965.42 996.032 938.537 996.65 922.824C1007.95 632.237 1012.09 354.902 1009.02 64.1535C1009.48 33.2056 1004.22 7.69465 943.846 6.79435C700.328 3.165 514.515 7.58916 281.83 0.654017Z' fill='%23D3E4CB'/%3E%3C/svg%3E%0A");
			background-size: 100% 100%;
		}
	}

	&--brown {
		background: #d0bda9;

		@include media-breakpoint-up(md) {
			background: url("data:image/svg+xml,%3Csvg width='1010' height='1001' viewBox='0 0 1010 1001' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.659644 720.965C-1.75456 784.268 3.44527 870.522 0.659644 933.811C0.50365 950.783 6.92903 967.474 17.6258 979.438C28.954 991.016 42.8822 998.359 58.6006 998.338C115.769 998.254 172.94 998.265 230.114 998.373C469.655 998.76 709.196 1000.28 948.737 999.963C964.768 1000.43 981.778 994.392 992.995 981.063C1003.05 969.866 1010.61 951.522 1009.96 935.436C1007.91 823.61 1006.33 711.774 1005.23 599.93C1003.53 425.879 1002.99 251.819 1003.6 77.7496C1003.66 61.966 997.251 42.9752 986.636 32.1222C975.078 20.3127 947.927 13.8346 932.053 13.2227C638.545 2.03209 358.431 -2.06144 64.7667 0.977104C33.5083 0.519915 7.73199 5.72483 6.82573 65.504C3.20071 306.611 7.67198 490.584 0.659644 720.965Z' fill='%23D0BDA9'/%3E%3C/svg%3E%0A");
			background-size: 100% 100%;
		}
	}

	&--blue {
		background-color: #c3d8f6;

		@include media-breakpoint-up(md) {
			background: url("data:image/svg+xml,%3Csvg width='1011' height='1000' viewBox='0 0 1011 1000' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1009.79 279.041C1012.21 215.738 1007.01 129.484 1009.79 66.1948C1009.94 49.2225 1003.52 32.5317 992.819 20.5674C981.491 8.99002 967.563 1.64678 951.853 1.66788C894.675 1.75229 837.502 1.74053 780.334 1.63268C540.794 1.24583 301.255 -0.273453 61.7156 0.0430622C45.6854 -0.428194 28.6744 5.61382 17.4652 18.9497C7.41471 30.1402 -0.154405 48.491 0.491854 64.57C2.55196 176.401 4.12932 288.236 5.22375 400.076C6.93225 574.127 7.4741 748.187 6.85013 922.256C6.7907 938.047 13.2017 957.031 23.8242 967.884C35.3751 979.693 62.5326 986.171 78.3994 986.783C371.905 997.974 652.017 1002.07 945.686 999.029C976.937 999.486 1002.71 994.281 1003.63 934.502C1007.26 693.395 1002.79 509.422 1009.79 279.041Z' fill='%23C3D8F6'/%3E%3C/svg%3E%0A");
			background-size: 100% 100%;
		}
	}

	&-link {
		display: block;
		color: $textcolor;
		text-decoration: none;

		&:hover {
			color: $textcolor;
		}
	}

	&.deg-right {
		transform: rotate(1deg);

		&:hover {
			transform: rotate(0);
		}
	}
	&.deg-left {
		transform: rotate(-1deg);

		&:hover {
			transform: rotate(0);
		}
	}

	&-bottom {
		position: relative;
		z-index: 2;
	}

	&--3 {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.slide-game__descr {
			max-width: 55%;
			margin-bottom: 40px;
		}
	}

	&--4 {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.slide-game__descr {
			max-width: 55%;
			margin-bottom: 40px;
		}
	}

	&__title {
		position: relative;
		z-index: 2;
		margin-bottom: 30px;
		font-size: 50px;
		font-weight: 100;
		line-height: 1;
	}

	&__title-h5 {
		position: relative;
		z-index: 2;
		margin-bottom: 0;
		font-size: 36px;
	}

	&__descr {
		position: relative;
		z-index: 2;
		font-size: 24px;
		font-weight: 400;
		font-family: $helveticafont;

		&--sm {
			margin-bottom: 20px;
			font-size: 27px;
			font-family: $helveticafont;
		}
	}

	&__pic {
		position: relative;
		z-index: 1;

		&-wrap {
			position: relative;
			display: flex;
			justify-content: flex-end;
		}

		&--1 {
			width: 400px;
			margin: 0 0 20px 0;
			mix-blend-mode: darken;

			&-bg {
				position: absolute;
				z-index: 1;
				right: 0;
				bottom: 0;
				width: 460px;
			}
		}

		&--2 {
			width: 100%;
			mix-blend-mode: darken;

			&-bg {
				position: absolute;
				z-index: 0;
				left: 0;
				top: 0;
				width: 100%;
			}
		}

		&--3 {
			position: absolute;
			top: 100px;
			right: -20px;
			width: 270px;

			&-bg {
				position: absolute;
				z-index: 0;
				right: 0;
				top: 0;
				width: 400px;
			}
		}

		&--4 {
			position: absolute;
			top: 180px;
			right: -18px;
			width: 270px;
			mix-blend-mode: darken;

			&-bg {
				position: absolute;
				z-index: 0;
				right: -20px;
				top: 100px;
				width: 300px;
			}
		}
	}

	&__price {
		margin-bottom: 20px;
		font-size: 36px;
	}

	.btn {
		margin-right: 10px;
		transform: scale(1);
		transition: transform .4s;
		transform: translate3d(0,0,0);

		&:hover {
			transform: scale(1.05) translate3d(0,0,0);
		}
	}
}

.swiper-backdrop-btn-next {
	position: absolute;
	z-index: 10;
	right: 1px;
	top: 100px;
	bottom: 50px;
	width: 60px;
	cursor: pointer;

	@include media-breakpoint-up(sm) {
		width: 100px;
	}
	@include media-breakpoint-up(md) {
		width: 150px;
	}
}

@include media-breakpoint-down(sm) {
	.swiper-game-wrapper {
		margin-bottom: 40px;
	}
	.swiper-title {
		padding-left: 15px;
	}
	.slide-game {
		padding: 20px;

		&__title {
			font-size: 28px;

			&-h5 {
				font-size: 24px;
			}
		}
		&__descr {
			font-size: 14px;

			&--sm {
				font-size: 16px;
			}
		}
		&__price {
			font-size: 24px;
		}
		&__pic {
			&--1 {
				width: 220px;
				&-bg {
					width: 250px;
				}
			}
			&--3 {
				width: 135px;
				&-bg {
					width: 230px;
				}
			}
			&--4 {
				width: 180px;
				&-bg {
					width: 210px;
				}
			}
		}
	}
}

@include media-breakpoint-up(md) {
	.slide-game {
		max-width: 1010px;
		padding: 55px 50px;

		&__pic {
			&--1 {
				width: 510px;

				&-bg {
					width: 630px;
				}
			}

			&--3 {
				top: 80px;
				width: 300px;

				&-bg {
					width: 450px;
				}
			}

			&--4 {
				top: 80px;
				right: -20px;
				width: 330px;

				&-bg {
					top: 0;
					width: 400px;
				}
			}
		}
	}
}

@include media-breakpoint-up(lg) {
	.slide-game {
		width: 93%;
		padding: 90px 55px;

		&--3 {
			.slide-game-top {
				margin-bottom: 200px;
			}
		}

		&__pic {
			&--3 {
				width: 400px;

				&-bg {
					width: 640px;
					top: -20px;
					right: -20px;
				}
			}

			&--4 {
				width: 350px;

				&-bg {
					width: 400px;
				}
			}
		}
	}
}

@include media-breakpoint-up(xl) {
	.slide-game {
		padding-left: 120px;
		padding-right: 120px;

		&--3 {
			.slide-game__pic-wrap {
				min-height: 0;
			}
		}
		&--4 {
			.slide-game__pic-wrap {
				min-height: 0;
			}
			.slide-game-top {
				margin-bottom: 200px;
			}
		}

		&__pic {
			&-wrap {
				min-height: 330px;
			}

			&--1 {
				position: absolute;
				top: 0;
				right: 0;
				width: 500px;


				&-bg {
					top: -230px;
					bottom: auto;
					width: 100%;
				}
			}

			&--4 {
				right: -100px;
				width: 460px;

				&-bg {
					right: -55px;
					width: 610px;
				}
			}
		}
	}
}
