.swiper {
	position: relative;
	margin-top: -110px;
	padding-top: 100px;

	.swiper-button-prev,
	.swiper-button-next {
		position: absolute;
		transition: transform .2s;

		&:hover {
			transform: scale(1.1);
		}
	}
	.swiper-button-prev {
		top: 4px;
		right: 135px;
		width: 65px;
		height: 75px;
	}
	.swiper-button-next {
		top: 4px;
		right: 30px;
		width: 85px;
		height: 75px;
		overflow: hidden;
		img {
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}
