.swiper-game-gift {
	margin: 0 -15px 75px -15px;
	padding: 100px 15px 20px 15px;

	.swiper-slide {
		position: relative;
		width: 445px;
		height: 250px;
	}
}

.slide-game-gift {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 445px;
	height: 250px;
	padding: 25px 30px;
	border-radius: 30px;
	cursor: pointer;
	transition: transform .5s;

	&.deg-right {
		transform: rotate(4.4deg);
	}

	&.deg-left {
		transform: rotate(-4.4deg);
	}

	&-bottom {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	&__title {
		padding-right: 50px;
		font-size: 36px;
	}

	&__price {
		margin: 0;
		font-size: 36px;
		line-height: 1;
		text-decoration: underline;
		font-family: $ttbackward;
	}

	&__link {
		position: absolute;
		z-index: 3;
		right: 20px;
		bottom: 35px;
		font-size: 18px;
		color: $black;
		font-family: $helveticafont;
		text-decoration: none;
		transition: transform .5s;

		&.deg-left {
			transform: rotate(-4.4deg);
		}
		&.deg-right {
			transform: rotate(4.4deg);
			bottom: 20px;
		}

		&:hover {
			color: $black;
			transform: rotate(0);

			& ~ .slide-game-gift {
				transform: rotate(0);
			}
		}
	}

	&-checkbox {
		position: absolute;
		z-index: 1;
		top: 20px;
		right: 30px;

		&__input {
			position: absolute;
			z-index: 2;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
		  opacity: 0;
			cursor: pointer;

			&:hover,
			&:checked {
				& ~ .slide-game-gift,
				& ~ .slide-game-gift__link {
					transform: rotate(0);
				}
			}

			&:checked ~ .slide-game-gift .slide-game-gift-checkbox__label {
				transform: scale(1.5);

				&:after {
					display: block;
				}
			}
		}

		&__label {
			position: relative;
			z-index: 1;
			display: block;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background-color: $white;
			transform-origin: center;

			&:after {
				content: '';
				display: none;
				position: absolute;
				top: 0;
				right: 0;
				width: 35px;
				height: 28px;
				background-image: url("data:image/svg+xml,%3Csvg width='53' height='43' viewBox='0 0 53 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.2574 20.6209L0.0556641 20.9241L17.2272 42.7031L24.29 42.4926L52.0557 1.20844L52.035 0.703125L37.3003 1.14106L20.7586 41.2798L10.2574 20.6209Z' fill='%231A1A1A'/%3E%3C/svg%3E%0A");
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.swiper-game-gift {
		margin: 0 -15px 35px -15px;
		padding: 50px 15px 20px 15px;

	.swiper-slide {
		width: 260px;
		height: 180px;
	}
}

	.slide-game-gift {
		width: 260px;
		height: 180px;

		&__title {
			font-size: 18px;
		}
		&__price {
			font-size: 22px;
		}
		&__link {
			bottom: 25px;
			&.deg-right {
				bottom: 20px;
		}
		}
	}
}

@include media-breakpoint-up(xl) {
 .swiper-game-gift {
	 padding-top: 20px;

	 .swiper-button-prev,
	 .swiper-button-next {
		 display: none;
	 }

	 .swiper-wrapper {
		 flex-wrap: wrap;
		 justify-content: center;
	 }

	 .swiper-slide {
		 margin-bottom: 40px;
	 }
 }
}
